h2{color: green;

}
.are{color: blueviolet;


}
.or{color: #1B1E34;

}
.orr{color:rgb(165,113,56);

}
img{ width: 400px;
     height: 500px;

}
.th{ background-image: url("wall3.avif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-attachment: fixed;
    
    
    

}
.odd{ background-color: red;
      color: black;
    
    


}
.o{border-style: dotted;
    text-align: center;
    color:black;

}
.a{border-style: solid;
    text-align: center;

}
.b{border-style: double;
    text-align: center;

}
.c{text-decoration: overline;
    text-align: center;

}
.d{text-decoration: line-through;
    text-align: center;

}
.e{text-decoration: overline underline;
    text-align: center;
    


}
.f{font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.g{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   
}
.h{font-family: cursive;
    text-align: center;

}

  
  a:visited {
    color: green;

  }
  
  
  a:hover {
    color:red;
  }
  
  
  a:active {
    color :blue;
  }
  ul.i{
    list-style-type: circle;

  }
  ol.x{ list-style: upper-roman;

  }

ol.y{ list-style: lower-alpha;

}


 